{% extends 'nav.html' %}

{% block content %}
<html>
<style>
    h3,
    p {
        font-family: Helvetica;
        color: #CDCDCD;
    }
</style>
<link rel="stylesheet" href="{{ url_for('static', filename='css/mystyle.css') }}">

<head>
    <style>
        /* .stocktable {
            width: 50%;
        } */

        .inputfield {
            width: 500%;
            display: block;
        }

        h3,
        p,
        th,
        td {
            color: #CDCDCD;
            font-family: Helvetica;
        }

        .topnav {
            overflow: hidden;
            background-color: #121212;
        }

        .topnav button {
            float: left;
            display: block;
            background: #202020;
            color: #CDCDCD;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            font-family: Helvetica;
        }

        button {
            color: #CDCDCD;
        }

        .topnav button:hover {
            border-bottom: 3px solid #CDCDCD;
        }

        .topnav button.active {
            border-bottom: 3px solid #CDCDCD;
        }

        p {
            color: #CDCDCD;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <h3 class="font-weight-bold">{% block title %}{{equityname}}({{tickercode}}){% endblock %}</h3>
                <div class="topnav">
                    <form action="usequityinfo" method="POST">
                        <input type="hidden" value="{{tickercode}}" name="stockticker">
                        <input type="hidden" value="{{industry}}" name="industry">
                        <input type="hidden" value="{{equityname}}" name="equityname">
                        <button class="btn" type="submmit">Summary</button>
                    </form>
                    <button type="submit" class="active btn">Financial Statements</button>
                    <form action="usequityprofile" method="POST">
                        <input type="hidden" value="{{tickercode}}" name="stockticker">
                        <input type="hidden" value="{{industry}}" name="industry">
                        <input type="hidden" value="{{equityname}}" name="equityname">
                        <button type="submit" class="btn">Profile</button>
                    </form>
                    <form action="ratio" method="POST">
                        <input type="hidden" value="{{tickercode}}" name="stockticker">
                        <input type="hidden" value="{{industry}}" name="industry">
                        <input type="hidden" value="{{equityname}}" name="equityname">
                        <button class="btn" type="submit">Financial Ratios</button>
                    </form>
                    <form action="historicaldata" method="POST">
                        <input type="hidden" value="{{tickercode}}" name="stockticker">
                        <input type="hidden" value="{{industry}}" name="industry">
                        <input type="hidden" value="{{equityname}}" name="equityname">
                        <button class="btn" type="submit">Historical Data</button>
                    </form>

                </div>
                <div class="topnav">
                    <button class="btn active" type="submmit">Income Statement</button>
                    <form action="usbalancesheet" method="POST">
                        <input type="hidden" value="{{tickercode}}" name="stockticker">
                        <input type="hidden" value="{{industry}}" name="industry">
                        <input type="hidden" value="{{equityname}}" name="equityname">
                        <button class="btn" type="submit">Balance Sheet</button>
                    </form>
                    <button type="submit" class="btn">Cash Flow</button>
                </div>
                <p>Reported Currency: USD</p>
                <p>All numbers in thousands</p>
            </div>

        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Breakdown</th>
                            {% for i in range (0, 5 )%}
                            <th scope="col">{{incomestatement[i]['fiscalDateEnding']}}</th>
                            {% endfor %}
                        </tr>
                        <tr>
                            <th scope="row">Total Revenue</th>
                            {% for i in range (0, 5 )%}
                            <td>{{incomestatement[i]['totalRevenue']}}</td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <th scope="row">Cost of Revenue</th>
                            {% for i in range (0, 5 )%}
                            <td>{{incomestatement[i]['costOfRevenue']}}</td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <th scope="row">Research and Development</th>
                            {% for i in range (0, 5 )%}
                            <td>{{incomestatement[i]['researchAndDevelopment']}}</td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <th scope="row">Selling General Administrative</th>
                            {% for i in range (0, 5 )%}
                            <td>{{incomestatement[i]['sellingGeneralAdministrative']}}</td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <th scope="row">Total Operating Expense</th>
                            {% for i in range (0, 5 )%}
                            <td>{{incomestatement[i]['totalOperatingExpense']}}</td>
                            {% endfor %}
                        </tr>

                        <tr>
                            <th scope="row">Operating Income</th>
                            {% for i in range (0,5 )%}
                            <td>{{incomestatement[i]['operatingIncome']}}</td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <th scope="row">Gross Profit</th>
                            {% for i in range (0, 5 )%}
                            <td>{{incomestatement[i]['grossProfit']}}</td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <th scope="row">EBIT</th>
                            {% for i in range (0, 5 )%}
                            <td>{{incomestatement[i]['ebit']}}</td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <th scope="row">Net Income</th>
                            {% for i in range (0, 5 )%}
                            <td>{{incomestatement[i]['netIncome']}}</td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <th scope="row">Income before Tax</th>
                            {% for i in range (0, 5 )%}
                            <td>{{incomestatement[i]['incomeBeforeTax']}}</td>
                            {% endfor %}
                        </tr>
                        
                        <tr>
                            <th scope="row">Other Non Operating Income </th>
                            {% for i in range (0,5)%}
                            <td>{{incomestatement[1]['otherNonOperatingIncome']}}
                                {% endfor %}
                        </tr>

                        <tr>
                            <th scope="row">Other Operating Expense</th>
                            {% for i in range (0, 5 )%}
                            <td>{{incomestatement[i]['otherOperatingExpense']}}</td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <th scope="row">Interest Expense</th>
                            {% for i in range (0, 5 )%}
                            <td>{{incomestatement[i]['interestExpense']}}</td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <th scope="row">Interest Income</th>
                            {% for i in range (0, 5 )%}
                            <td>{{incomestatement[i]['interestIncome']}}</td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <th scope="row">Net Interest Income</th>
                            {% for i in range (0, 5 )%}
                            <td>{{incomestatement[i]['netInterestIncome']}}</td>
                            {% endfor %}
                        </tr>

                        <tr>
                            <th scope="row">Income Tax Expense</th>
                            {% for i in range (0, 5 )%}
                            <td>{{incomestatement[i]['incomeTaxExpense']}}</td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <th scope="row">Total other Income Expense</th>
                            {% for i in range (0, 5 )%}
                            <td>{{incomestatement[i]['totalOtherIncomeExpense']}}</td>
                            {% endfor %}
                        </tr>

                        <tr>
                            <th scope="row">Net Income from Continuing Operations</th>
                            {% for i in range (0, 5 )%}
                            <td>{{incomestatement[i]['netIncomeFromContinuingOperations']}}</td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <th scope="row">Net Income Applicable to Common Shares</th>
                            {% for i in range (0, 5 )%}
                            <td>{{incomestatement[i]['netIncomeApplicableToCommonShares']}}</td>
                            {% endfor %}
                        </tr>

                    </thead>
                </table>
            </div>
        </div>
    </div>
</body>

</html>
{% endblock %}